<!doctype html>
<html class="no-js">
<head>
	<title>Library Subject Guides BLTI Application</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="HandheldFriendly" content="true">

    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static "libguide/css/vendor/bootstrap-3.0.0.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "libguide/css/vendor/font-awesome-4.0.3.min.css" %}"/>
    <link rel="stylesheet" type="text/less" href="{% static "libguide/css/mobile.less" %}" media="screen, handheld" />
    <link rel="stylesheet" type="text/less" href="{% static "libguide/css/desktop.less" %}" media="screen and (min-width: 480px)" />
    <link rel="stylesheet" type="text/less" href="{% static "libguide/css/blti.less" %}" media="screen and (min-width: 480px)" />

    <link rel="shortcut icon" href="{% static "libguide/img/favicon.ico" %}">
</head>
<body>

    <div id="wrapper" class="container" style="position:relative;">

        <div id="main-wrapper">
        	<div id="main" aria-labelledby="uw_libguide_header">
        	   <div class="inner">{% block content %}{% endblock %}</div>
        	</div><!--end #main-->
        </div>
    </div>

	<!-- javascript last for faster page loading -->
    <script src="{% static "libguide/js/vendor/bootstrap-3.0.0.min.js" %}"></script>

</body>
</html>
