{% extends 'libguide/base_blti.html' %}

{% load staticfiles %}

{% block content %}

<div class="canvas-UW-libguide-container">

<!-- Header and help text -->
<img src="{% static "libguide/img/libwordmark.png" %}"/>

{% if error %}
<p>{{ error }}</p>
{% endif %}

{% if subject_guide %}
<p class="intro">Start your research with the
    {% with subject_guide.libraries|first as library %}
    <a href="{{ library.url }}" target="_blank">{{ library.name }}</a>
    {% endwith %}
    in order to access thousands of resources specifically tailored to the study of {{ subject_guide.discipline|default:"your discipline" }}. Use the links below to learn more about what the Libraries can do for you.</p>

<h2 id="uw_libguide_header">Library resources for {{ subject_guide.discipline|default:"your discipline" }}</h2>

<ul><!-- library resources list -->
    {%if subject_guide.course_guide %}
    <li>
        <div>
          <a href="{{ subject_guide.course_guide.guide_url }}" target="_blank">{{ subject_guide.course_guide.guide_text }}</a><br />
          Use this online course guide for help with research assignments in your specific course.
        </div>
    </li>
  {% endif %}
    <li>
        <div>
            <a href="{{ subject_guide.guide_url }}" target="_blank">{{ subject_guide.guide_text }}</a><br />
            Get research recommendations and tips tailored to your subject area via this online guide.
        </div>
    </li>
    <li>
        <div>
            <a href="{{ subject_guide.writing_guide_url }}" target="_blank">Citation Styles &amp; Tools</a><br />
            {{ subject_guide.writing_guide_text }}
        </div>
    </li>
    {% for library in subject_guide.libraries %}
    <li>
        <div>
            <a href="{{ library.url }}" target="_blank">{{ library.name }}</a><br />
            {{ library.description }}
        </div>
    </li>
    
<!-- Operations update language has been removed in line with physical buildings reopening -->
    <li>
        <div>
            Schedule an appointment<br />
            UW students can get research assistance with course- and degree-related projects and assignments on the <a href="https://lib.uw.edu/help/consultations" target="_blank">Seattle</a>, <a href="https://library.uwb.edu/librarians" target="_blank">Bothell</a> and <a href="https://www.tacoma.uw.edu/library/research-services#permalink-35267" target="_blank">Tacoma</a> campuses.
        </div>
    </li>   
    {% endfor %}
<!-- Temporary COVID-19 / remote support inclusions -->
    <li>
        <div>
            UW Libraries COVID-19 updates on the <a href="https://www.lib.washington.edu/coronavirus" target="_blank">Seattle</a>, <a href="https://library.uwb.edu/covidupdates" target="_blank">Bothell</a> and <a href="https://www.tacoma.uw.edu/library/covid-19-updates" target="_blank">Tacoma</a> campuses.<br />
            Learn about the latest news related to your campus library including the availability of services, resources and buildings.
        </div>
    </li>
    <li>
        <div>
            <a href="https://uw.libcal.com/appointments/uwlib" target="_blank">Schedule an appointment</a><br />
            UW students can get research assistance with course- and degree-related projects and assignments.
        </div>
    </li>
</ul>

<h2>Need help?</h2>

<div class="row-fluid">

    {% if subject_guide.contact_url %}
    <div class="span4">
        <h3><a href="{{ subject_guide.contact_url }}" target="_blank">Ask Us!</a></h3>
        <p>{{ subject_guide.contact_text }}</p>
    </div>
    {% endif %}

    {% if subject_guide.faq_url %}
    <div class="span4">
        <h3><a href="{{ subject_guide.faq_url }}" target="_blank">Libraries Frequently Asked Questions</a></h3>
        <p>{{ subject_guide.faq_text }}</p>
    </div>
    {% endif %}

    {% if subject_guide.find_librarian_url %}
    <div class="span4">
        <h3><a href="{{ subject_guide.find_librarian_url }}" target="_blank">Find Your Librarian</a></h3>
        <p>{{ subject_guide.find_librarian_text }}</p>

        {% for librarian in subject_guide.librarians %}
        <p>
            {% if librarian.url %} <!-- only link to the librarian's page if there is one -->
                <a href="{{ librarian.url }}" target="_blank">{{ librarian.name }}</a>
            {% else %}<!-- if no subject librarian link -->
                {{ librarian.name }}
            {% endif %}
            {% if librarian.email %}<br /><a href="mailto:{{ librarian.email }}" target="_blank">{{ librarian.email }}</a>{% endif %}
        </p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}
</div>
{% endblock %}
