-e .
-e git+https://github.com/uw-it-aca/django-blti#egg=django_blti
-e git+https://github.com/uw-it-aca/canvas-sis-provisioner.git@qa#egg=sis_provisioner
-e git+https://github.com/uw-it-aca/uw-restclients#egg=RestClients
